.menu--main li a[href="/schema"] {
    background-image: linear-gradient(152deg, rgba(211,145,0,0.7) 0%, rgba(211,145,0,0.7) 20%, rgba(119,61,1,0.7) 61%), url(/sites/default/files/2020-02/schedule.jpg);
}

.menu--main li a[href="/dinner"] {
    background-image: linear-gradient(152deg, rgba(49,177,177,0.7) 0%, rgba(49,177,177,0.7) 30%, rgba(1,61,61,0.7) 71%), url(/sites/default/files/2020-02/dinner.jpg);
}

.menu--main li a[href="/info"] {
    background-image: linear-gradient(152deg, rgba(66,135,245,0.7) 0%, rgba(66,135,245,0.7) 20%, rgba(1,45,116,0.7) 61%), url(/sites/default/files/2020-01/1.jpg);
}

.menu--main li a[href="/workshop"] {
    background-image: linear-gradient(152deg, rgba(66,135,245,0.7) 0%, rgba(66,135,245,0.7) 20%, rgba(1,45,116,0.7) 61%), url(/sites/default/files/2020-01/5.png);
}

.menu--main li a[href="/survey"] {
    background-image: linear-gradient(152deg, rgba(211,145,0,0.7) 0%, rgba(211,145,0,0.7) 20%, rgba(119,61,1,0.7) 61%), url(/sites/default/files/2020-02/survey.jpg);
}
